* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dedede;
}

h1 {
  text-align: center;
  padding: 15px;
  font-size: 64px;
}

#ctn {
  display: flex;
}

#color-picker {
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

button {
  width: 80%;
  padding: 15px;
  border-radius: 15px;
  background: none;
  transition: transform 0.1s;
  border: 1px solid #000;
}

button:hover {
  transform: scale(1.05, 1.05);
  cursor: pointer;
}

#input {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

#input p {
  font-size: 20px;
}

input {
  width: 100%;
}

input:hover {
  cursor: pointer;
}

#canvas {
  background-color: white;
  height: 500px;
  width: 500px;
  filter: drop-shadow(0 0 5px hsla(0, 0%, 0%, 0.25));
  display: grid;
}
